@font-face {
    font-family: "Gilroy";
    src: url("./fonts/gilroyextrabold-webfont.woff2") format("woff2"),
         url("./fonts/gilroyextrabold-webfont.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy";
    src: url("./fonts/gilroylight-webfont.woff2") format("woff2"),
         url("./fonts/gilroylight-webfont.woff") format("woff");
    font-weight: 300;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    min-width: 1200px;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;

    color: #464646;
    background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
}

.header {
    position: relative;

    width: 1160px;
    min-height: 299px;
    padding: 0 60px;
    padding-top: 34px;
    margin: 40px auto 0px;

    background-color: #f7e296;
}

.header__logo {
    position: absolute;
    top: -19px;
    left: 59px;

    width: 164px;
    height: 34px;
}
.logo__link:hover {
    opacity: 0.6;
}
.logo__link:active {
    opacity: 0.3;
}
.header-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: auto;
    min-height: 49px;
    margin: 0;
    margin-bottom: 30px;

}
.search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 441px;
    min-height: 49px;
}
.search-form__input {
    width: 280px;
    height: 49px;
    border: none;
    border-bottom: 2px solid transparent;

    letter-spacing: 0.15px;
    padding-left: 38px;
    
    -webkit-transition: 0.5s;
    
    -o-transition: 0.5s;
    
    transition: 0.5s;
    background-color: transparent;
}
.search-form__icon::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 17px;

    width: 16px;
    height: 16px;

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-form__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-form__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-form__input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-form__input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
.search-form__input:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.search-form__input:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.search-form__input:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.search-form__input:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.search-form__input:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 1);
}
.search-form__input:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 1);
}
.search-form__input:focus::-ms-input-placeholder {
    color: rgba(0, 0, 0, 1);
}
.search-form__input:focus::placeholder {
    color: rgba(0, 0, 0, 1);
}

.search-form__button {
    width: 85px;
    height: 49px;
    border: 2px solid transparent;

    color: transparent;
    background-color: transparent;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.search-form__button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 47px;

    width: 0;
    height: 2px;

    background-color: black;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.search-form__input:focus~.search-form__button { 
    border: 2px solid black;
    color: black;
    background-color: transparent;
}
.search-form__input:focus~.search-form__button::after {
    width: 441px;
    opacity: 1;
}
.search-form__input:focus~.search-form__button:hover {
    border: 2px solid black;
    color: white;
    background-color: black;
    opacity: 1;
}
.search-form__button:focus {
    border: 2px solid black;
    color: black;
    opacity: 1;
}
.search-form__button:active {
    left: 415px;
    border: 2px solid black;
    color: #4d4d4d;
    background-color: black;
    opacity: 1;
}
.user-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 520px;
    min-height: 49px;
    padding: 0;
    margin: 0;

    list-style: none;

    color: #464646;
}
.user-profile__item {
    max-width: 100%;
    padding-left: 20px;
}
.user-profile__item--order {
    min-width: 100px;
}
.user-profile__item--right {
    margin-left: auto;
    margin-right: 18px;
}
.user-profile__link {
    display: block;
    position: relative;

    width: auto;
    
    height: 49px;
    padding-left: 26px;

    word-wrap: break-word;
    line-height: 49px;
    
    color: black;
}
.user-profile__link--logout {
    padding: 0;
    opacity: 0.3;
}
.user-profile__link--login::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 18px;

    width: 13px;
    height: 12px;

    background-image: url("../img/user-header.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-profile__link--compare::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 20px;

    width: 10px;
    height: 10px;

    background-image: url("../img/compare-header.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-profile__link--basket::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 18px;

    width: 12px;
    height: 12px;

    background-image: url("../img/cart-header.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-profile__link:hover {
    opacity: 0.6;
}
.user-profile__link:active {
    opacity: 0.3;
}
.header-bottom {
    position: relative; 
}
.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding: 0;
    margin: 0;
    margin-bottom: 0px;

    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    line-height: 24px;

    list-style: none;
}
.nav-list__item {
    margin-left: 35px;
}
.nav-list__item--left {
    margin: 0;
    margin-left: -1px;
    margin-right:auto;
}
.nav-list__item--right {
    margin-left: 107px;
}
.nav-list__link--right {
    margin-right: -3px;
}
.nav-list__link {
    position: relative;
    color: black;
}
.nav-list__link--drop::after {
    content: "";
    position: absolute;
    left: 231px;
    top: 1px;

    width: 16px;
    height: 16px;
    
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}
.dropout-catalog {
    display: none;
    position: absolute;
    top: 20px;
    left: -60px;
    z-index: 10;

    padding: 0;
    padding-top: 24px;
    padding-bottom: 34px;
    margin: 0;

    background-color: #f7e296;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.nav-list__item--left:hover .dropout-catalog {
    display: block;
}
.catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;

    padding: 0 60px;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-transform: none;
    color: black;
}
.catalog-list {
    padding: 0;
    margin: 0;
    margin-right: 59px;

    list-style: none;
}
.catalog-list--margin {
    margin-right: 75px;
}
.catalog-list__link {
    color: black;
}
.catalog-list__link:hover {
    color: rgba(0, 0, 0, 0.6);
}
.catalog-list__link:active {
    color: rgba(0, 0, 0, 0.3);
}
.nav-list__link:hover {
    color: rgba(0, 0, 0, 0.6);
}
.nav-list__link:active {
    color: rgba(0, 0, 0, 0.3);
}
.slider {
    position: relative;

    width: 1160px;
    min-height: 410px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 72px;

    background: #ffffff;
}
.slider__buttons { 
    position: absolute;
    top: 202px;
    right: 81px;
}
.slider__button {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    width: 14px;
    height: 14px;
    padding: 1px;
    margin-left: 15px;
    border: 2px solid black;
    border-radius: 50%;

    font-size: 0;

    background-color: transparent;
}
.slider__button--active::before {
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    left: 2px;
    top: 2px;

    width: 6px;
    height: 6px;
    border: 2px solid black;
    border-radius:50%;
}
.slider__slide {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    right: 60px;
    top: -100px;
    z-index: -1;
}
.current-slide {
    z-index: 1;
}
.slider__column-left {
    position: relative;
    width: 600px;
}
.slider__image {
    position: absolute;
    top: -11px;
    right: 43px;
}
.slider__column-right {
    width: 500px;
    margin-top: 69px;
}
.slider__number {
    position: absolute;
    right: -12px;
    top: -22px;
    z-index: -1;

    padding: 0;
    margin: 0;

    font-family: "Gilroy", sans-serif;
    font-size: 179.2px;
    font-weight: 700;
    line-height: 179.2px;
    letter-spacing: 0.36px;
    color: white;
}
.slider__call {
    padding: 0;
    margin: 0;
    margin-bottom: 19px;

    font-family: "Gilroy", sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.47px;
    color: black;
}
.slider__call::before {
    content: "";
    position: absolute;
    top: 26px;

    width: 100px;
    height: 7px;

    background-color: #ffffff;
}
.slider__info {
    font-size: 15px;
    line-height: 30px;
}
.slider__link {
    display: block;

    width: 220px;
    min-height: 40px;
    padding-left: 2px;
    margin-top: 42px;
    margin-bottom: 49px;

    font-family: "gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 3.6px;
    color: black;

    background: -webkit-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    background: -o-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    background: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}
.slider__link:hover {
    background-color: #f0c52e;
}
.slider__link:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #f0c52e;
}
.table-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    padding: 0;
    margin: 0;

    list-style: none;
}
.table-slider__info {
    padding-bottom: 3px;
    margin-left: 78px;

    font-family: "Gilroy", sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    line-height: 48px;
    color: black;
}
.table-slider__title {
    margin-top: 6px;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    line-height: 24px;
    color: #464646;
}
.table-slider__info:first-child,
.table-slider__title:first-child {
    margin-left: 0;
}
.popular {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 83px;
}
.popular__items-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding: 0;
    margin: 0;

    list-style: none;
}
.items-list__item {
    width: 160px;

    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.18px;
    line-height: 24px;
}
.items-list__link {
    display: block;
    position: relative;

    max-width: 100%;
    min-height: 240px;
    padding-top: 193px;
    word-wrap: break-word;

    color: black;
}
.items-list__link:active {
    color: rgba(0, 0, 0, 0.3);
}
.items-list__link::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;

    width: 160px;
    height: 160px;

    background-repeat: no-repeat;
    background-color: #f7e296;
}
.items-list__link::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;

    width: 160px;
    height: 160px;

    background-repeat: no-repeat;
}
.items-list__link:hover::before {
    background-color: #f0c52e;
}
.items-list__link:active::before {
    background-color: #f0c52e;
}
.items-list__link:active::after {
    opacity: 0.3;
}
.items-list__link--1::after {
    background-image: url("../img/popular-1.svg");
    background-position: 31px 52px;
}
.items-list__link--2::after {
    background-image: url("../img/popular-2.svg");
    background-position: 38px 40px;
}
.items-list__link--3::after {
    background-image: url("../img/popular-3.svg");
    background-position: 49px 38px;
}
.items-list__link--4::after {
    background-image: url("../img/popular-4.svg");
    background-position: 28px 50px;
}
.items-list__link--5::after {
    background-image: url("../img/popular-5.svg");
    background-position: 55px 32px;
}
.items-list__link--6::after {
    background-image: url("../img/popular-6.svg");
    background-position: 13px 49px;
}
.services-container {
    width: 100%;
    margin-bottom: 94px;

    background: -webkit-linear-gradient(top, white 97px, #e5e5e5 97px);

    background: -o-linear-gradient(top, white 97px, #e5e5e5 97px);

    background: linear-gradient(to bottom, white 97px, #e5e5e5 97px);
}
.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    width: 1160px;
    min-height: 385px;
    margin: 0 auto;  
}
.services__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 280px;
    margin-top: 77px;
    margin-right: 120px;
}

.services__button {
    position: relative;
    z-index: 10;

    width: 160px;
    height: 40px;
    padding-left: 11px;
    margin-bottom: 25px;
    border: none;

    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: black;

    background-color: transparent;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.services__button::before {
    position: absolute;
    content: "";
    left: 0;
    top: 16px;
    z-index: -1;

    width: 160px;
    height: 8px;

    background-color: #f0c52e;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.services__button:hover::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;

    width: 160px;
    height: 40px;

    background-color: #f0c52e;
}
.services__button--current {
    color: #f7e296;
}
.services__button:hover {
    color: black;
}
.services__button:active {
    color: #f7e296;
}
.services__button:active::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;

    width: 278px;
    height: 40px;

    background-color: black;
}

.services__button--current::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;

    width: 278px;
    height: 40px;

    background-color: black;
}
.services__title {
    padding: 0;
    margin: 0;
    margin-top: 72px;
    margin-bottom: 30px;

    font-family: "Gilroy", sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.47px;
    color: black;
}
.services__title::before {
    content: "";
    position:absolute;
    left: -123px;
    top: -3px;

    width: 7px;
    height: 319px;

    background-color: #000000;
}
.services__title--1::after {
    content: "";
    position:absolute;
    left: 558px;
    top: 82px;

    width: 136px;
    height: 164px;

    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.services__title--2::after {
    content: "";
    position:absolute;
    left: 543px;
    top: 58px;

    width: 171px;
    height: 194px;

    background-image: url("../img/warranty.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.services__title--3::after {
    content: "";
    position:absolute;
    left: 534px;
    top: 58px;

    width: 156px;
    height: 186px;

    background-image: url("../img/credit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.services__description {
    position: absolute;
    top: 0;
    z-index: -1;

    width: 440px;
    margin: 0;
    padding: 0;
}
.services__current--decription {
    z-index: 1;
}
.brands {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 93px;
}
.brands-list {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}
.brands-list__link {
    opacity: 0.2;
}
.brands-list__logo {
}
.brands-list__link:hover {
    opacity: 1;
}
.brands-list__link:hover .logo-filter {
    -webkit-filter: none;
            filter: none;
}
.general-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 1160px;
    margin: 0 auto;
    margin-bottom: 81px;
}
.general-info__about-us {
    width: 500px;
}
.general-info__contacts {
    width: 560px;
}
.general-info__title {
    position: relative;

    margin: 0;
    padding: 0;
    padding-top: 44px;
    padding-bottom: 46px;
    margin: -2px;

    font-family: "Gilroy", sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
    color: black;
}
.general-info__title::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 2px;

    width: 80px;
    height: 7px;

    background-color: black;
}
.general-info__info {
    padding: 0;
    padding-bottom: 30px;
    padding-right: 15px;
    margin: 0;

    letter-spacing: 0.006em;
}
.general-info__list {
    padding: 0;
    padding-top: 36px;
    padding-left: 34px;
    padding-bottom: 54px;
    margin: 0;

    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
    line-height: 40px; 

    list-style: none;
}
.general-info__list-item {
    position: relative;
}
.general-info__list-item::before {
    content: "";
    position: absolute;
    left: -34px;
    top: 16px;

    width: 4px;
    height: 4px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: 0 0;
}
.general-info__map {
    padding: 0;
    padding-top: 9px;
    margin-bottom: 66px;
}
.map__link {
    display: block;

    padding: 0;
    margin: 0;
    
    font-size: 0;
    line-height: 0;
}
.general-info__link {
    display: block;
    width: 260px;
    height: 40px;
    border: none;

    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.6px;
    text-align: center;
    text-transform: uppercase;
    color: black;

    -webkit-transition: 0.5s;

    -o-transition: 0.5s;

    transition: 0.5s;
    background: -webkit-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    background: -o-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    background: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}
.general-info__link:hover {
    background-color: #f0c52e;
}
.general-info__link:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #f0c52e;
}
.footer {
    width: auto;
    min-height: 323px;

    color: #ffffff;

    background-color: #464646;
}
.footer-container {
    width: 1160px;
    margin: 0 auto;
    padding-top: 62px;
}
.footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;

    margin-bottom: 31px;
}
.footer__logo {
    width: 163px;
    height: 36px;
    padding-top: 2px;
}
.logo__link--footer:hover {
    opacity: 0.6;
}
.logo__link--footer:active {
    opacity: 0.3;
}
.footer__user-profile-list,
.footer__site-menu-list,
.footer__social-list {
    padding: 0;
    margin: 0;

    list-style: none;
}
.profile-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.profile-list__link {
    position: relative;

    padding-left: 40px;
    margin-left: 23px;

    color: rgba(255, 255, 255, 0.7);
}
 .profile-list__link:hover {
    color: rgba(255, 255, 255, 1);
}
.profile-list__link:active {
    color: rgba(255, 255, 255, 0.3);
}
.profile-list__link::before {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-position: 0 0;
}
 .profile-list__link--login::before {
    top: 4px;
    left: 14px;

    width: 13px;
    height: 12px;

    background-image: url("../img/user-footer.svg");
}
 .profile-list__link--compare::before {
    top: 6px;
    left: 21px;

    width: 10px;
    height: 10px;

    background-image: url("../img/compare-footer.svg");
}
 .profile-list__link--basket::before {
    top: 4px;
    left: 18px;

    width: 12px;
    height: 12px;

    background-image: url("../img/cart-footer.svg");
}
.profile-list__link--logout {
    padding: 0;
    margin-left: 19px;
    opacity: 0.3;
}
 .profile-list__link:hover::before {
     opacity: 0.6;    
}
.profile-list__link:active::before {
    opacity: 0.3;    
}
 .footer__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-bottom: 62px;
}
.number,
.adress {
    min-width: 220px;
    padding: 0;
    margin: 0;
}
.number {
    margin-left: auto;
    text-align: right;
}
.adress {
    margin-right: auto;
}
.footer__site-menu-list {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 430px;
    height: auto;

    font-size: 15px;
    line-height: 18px;
    letter-spacing: 3.6px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.site-menu__link {
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: white;
}
.site-menu__link:hover {
    opacity: 0.6;
}
.site-menu__link:active {
    opacity: 0.3;
}
.footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    font-size: 0px;
}
.footer__bottom::before {
    -ms-flex-order: -1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    content: "";
    display: block;
    margin-right: auto;

    width: 80px;
    height: 7px;
    -webkit-box-ordinal-group: 0;
            order: -1;

    background-color: #ffc600;
}
.footer__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    width: 163px;
    margin-left: -60px;
}
.social__link {
   display: block;

   width: 32px;
   height: 32px;

   opacity: 0.3;
}
.social__link:hover {
    opacity: 0.6;
}
.social__link:active {
    opacity: 0.1;
}
.social__link--1 {
   background-image: url("../img/fb.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
}
.social__link--2 {
   background-image: url("../img/inst.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
}
.social__link--3 {
   background-image: url("../img/tw.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
}
.footer__copyright-icon {
    margin-left: auto;
}
.copyright__link {
   display: block;

   width: 27px;
   height: 35px;

   color: rgba(251, 195, 1, 1);

   background-image: url("../img/logo-html.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
}
.copyright__link:hover {
    opacity: 0.6;
}
.copyright__link:active {
    opacity: 0.3;
}

.popup {
    display: none;
    position:fixed;
    left: 50%;
    top: 50%;
    min-width: 960px;
    padding: 95px 80px 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: black;

    -webkit-transform: translateX(-50%) translateY(-50%);

        -ms-transform: translateX(-50%) translateY(-50%);

            transform: translateX(-50%) translateY(-50%);
    background-color: white;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    z-index: 110;
}
.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.1);
}
.popup-form  {
    min-height: 555px;
}
.popup__close-button {
    display: block;
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;
    padding: 0;
    margin: 0;
    border: 0px solid transparent;
    border-radius: 50%;

    font-size: 0px;

    background-color: #f7e296;
}
.popup__close-button:hover {
    background-color: #f0c52e;
    opacity: 0.7;
}
.popup__close-button:active {
    background-color: #f7e296;
    opacity: 0.8;
}
.popup__close-button:before,
.popup__close-button:after {
    content: "";
    position: absolute;
    top: 26px;
    left: 9px;

    width: 37px;
    height: 3px;

    background-color: white;
}
.popup__close-button:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.popup__close-button:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.popup__main-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.popup__half {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 50%;
    padding: 0 20px;
    margin-bottom: 32px;
}
.popup__titles {
    display: block;
    
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 7px;
    color: #000000;
}
.popup__half-input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: none;

    color: #464646;

    background-color: #f2f2f2;
}
.popup__half-input::-webkit-input-placeholder {
    opacity: 0.4;
}
.popup__half-input:-ms-input-placeholder {
    opacity: 0.4;
}
.popup__half-input::-ms-input-placeholder {
    opacity: 0.4;
}
.popup__half-input::placeholder {
    opacity: 0.4;
}
.popup__half-input:hover::-webkit-input-placeholder {
    opacity: 1;
}
.popup__half-input:hover:-ms-input-placeholder {
    opacity: 1;
}
.popup__half-input:hover::-ms-input-placeholder {
    opacity: 1;
}
.popup__half-input:hover::placeholder {
    opacity: 1;
}
.popup__letter {
    padding: 0 20px;
    margin-bottom: 38px;
}
.popup__half-input--textarea {
    min-height: 156px; 
    padding: 20px;
}
.popup__button  {
        width: 200px;
        height: 40px;
        margin: 0 20px;
        border: none;

        font-family: "Gilroy", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        color: black;

        background: -webkit-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
        background: -o-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
        background: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}
.popup__button:hover {
        background-color: #f0c52e;
}
.popup__button:active {
        color: rgba(0, 0, 0, 0.3);
        background-color: #f0c52e;
}
.popup-map {
    padding: 0;
    margin: 0;

    font-size: 14px;
    line-height: 0;
}
.popup--display {
    display: block;
}
.popup--display-animation {
    -webkit-animation-name: hello;
            animation-name: hello;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;	
	-webkit-animation-timing-function: ease;	
	        animation-timing-function: ease;
}
@-webkit-keyframes hello {
    from {left: 100%;
        -webkit-transform: translateX(100%) translateY(-50%);
                transform: translateX(100%) translateY(-50%);}
    to {left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);}
}
@keyframes hello {
    from {left: 100%;
        -webkit-transform: translateX(100%) translateY(-50%);
                transform: translateX(100%) translateY(-50%);}
    to {left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);}
}

.popup-error {
    -webkit-animation-name: shake;
            animation-name: shake;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;	
	-webkit-animation-timing-function: ease;	
	        animation-timing-function: ease;
}
@-webkit-keyframes shake {
  
    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(-52%) translateY(-50%);
              transform: translateX(-52%) translateY(-50%);
    }
  
    20%, 40%, 60%, 80% {
      -webkit-transform: translateX(-48%) translateY(-50%);
              transform: translateX(-48%) translateY(-50%);
    }
  }
@keyframes shake {
  
    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(-52%) translateY(-50%);
              transform: translateX(-52%) translateY(-50%);
    }
  
    20%, 40%, 60%, 80% {
      -webkit-transform: translateX(-48%) translateY(-50%);
              transform: translateX(-48%) translateY(-50%);
    }
  }

/* .search-form__input:focus {
    outline: none;
}
/* 


                                            Каталог                
                  
        
        
        
*/
.header-catalog {
    min-height: 186px;
    margin-bottom: 38px;
}
.picked-item {
    width: 1160px;
    padding: 0 60px;
    margin: 0 auto;
    margin-bottom: 44px;
}
.picked-item__title {
    padding: 0;
    margin: 0;
    margin-bottom: 19px;

    font-family: "Gilroy", san-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.17px;;
    color: black;
}
.breadcrumbs__link {
    position: relative;

    padding: 0 15px 0 18px;

    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs__link::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 7px;

    width: 4px;
    height: 7px;

    background-image: url("../img/nav-arrow-catalog.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.breadcrumbs__link:first-child {
    padding-left: 0;
}
.breadcrumbs__link--last::after {
    top: 0;
    left: 0;

    background: none;
}
.breadcrumbs__link:hover {
    color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs__link:active {
    color: rgba(0, 0, 0, 0.1);
}
.shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    color: black;
}
.shop__column-left {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 330px;
    background-color: #ebebeb; 
}
.shop__column-left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;
    background-color: #dbdbdb;
}
.shop__column-right {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.shop__column-right::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    
    width: 100%;
    height: 70px;
    background-color: #ebebeb;
}
.width-left {
    width: 328px;
    padding-left: 58px;
    margin-left: auto;
}
.width-right {
    width: 832px;
    padding-left: 32px;
    margin-right: auto;
}
.shop__title {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}
.header-sorting .shop__title {
    margin-left: 40px;
    margin-right: 55px;
}
.header-filter,
.header-sorting {
    min-height: 70px;
    z-index: 1;
}
.header-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position:relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 800px;

    margin-bottom: 69px;

    background-color: #ebebeb;
}
.header-filter {
    position: relative;
    background-color: #dbdbdb;
}
.filter-form {
    padding-top: 81px;
}

.filter-form__fieldset {
    position: relative;

    border: none;
    padding-bottom: 40px;
}
.filter-form__fieldset::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -3px;

    width: 201px;
    height: 2px;

    background-color: black;
}
.filter-form__legend {
    margin-left: -14px;

    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.filter-form__legend--range {
    margin-bottom: 30px;
}
.range-filter {
    margin-left: -15px;
    width: 200px;
}
.range-controls {
    position: relative;
}
.range-controls .scale {
    width: 200px;
    height: 2px;
    margin-bottom: 9px;
    background-color: #dbdbdb;
}
.range-controls .bar {
    width: 55%;
    height: 2px;
    background-color: #91c92f;
}
.range-controls .toggle {
    position: absolute;
    top: -10px;
    left: 0;

    width: 20px;
    height: 20px;
    padding: 0;
    border: 8px solid #ffffff;
    border-radius: 50%;

    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;

            box-shadow: 0 2px 1px 0 #cfcfcf;
    background-color: #ababab;
    cursor: pointer;
}
.range-controls .toggle:active {
    top: -11px;
    
    width: 22px;
    height: 22px;
    border: 9px solid #ffffff;
    margin-left: -1px;
}
.price-controls {
    font-size: 0;
}
.price-controls label {
    display: inline-block;
    width: 48%;

    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #000000;
    opacity: 0.2;
}
.price-controls input {
    width: 50%;
    background-color: transparent;
    border: none;
}
.range-controls .toggle-min {
    left: -3px;
  }
  .range-controls .toggle-max {
    left: 110px;
  }
.filter-form__list {
    padding: 0 25px;
    margin: 11px 0 3px 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;

    list-style: none;
}
.bluetooth-list {
    margin-bottom: 0;
}
.color-list__item-input,
.bluetooth-list__item-input {
    position: absolute;
    opacity: 0;
}
.color-list__item-label,
.bluetooth-list__item-label {
    position: relative;
}
.color-list__item-label::before {
    content: "";
    position: absolute;
    left: -39px;
    top: -1px;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-off-catalog.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.color-list__item-input:checked+.color-list__item-label::before {
    background-image: url("../img/checkbox-on-catalog.svg");
}
.color-list__item-input:hover+.color-list__item-label::before {
    opacity: 0.6;
}
.color-list__item-input:disabled+.color-list__item-label::before,
.bluetooth-list__item-input:disabled {
    opacity: 0.25;
}
.bluetooth-list__item-label::before {
    content: "";
    position: absolute;
    left: -39px;
    top: -2px;

    width: 25px;
    height: 25px;

    background-image: url("../img/radio-off-catalog.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.bluetooth-list__item-input:checked+.bluetooth-list__item-label::before {
    background-image: url("../img/radio-on-catalog.svg");
}
.bluetooth-list__item-input:hover+.bluetooth-list__item-label::before {
    opacity: 0.6;
}
.bluetooth-list__item-input:active+.bluetooth-list__item-label::before {
    opacity: 1;
}
.bluetooth-list__item-input:disabled+.bluetooth-list__item-label::before {
    opacity: 0.25;
}
.color-list__item-input:disabled+.color-list__item-label,
.bluetooth-list__item-input:disabled+.bluetooth-list__item-label {
    color: #a6a6a6;
}
.filter-form__button {
    width: 200px;
    height: 40px;
    margin-top: -5px;
    border: none;

    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: black;

    background: -webkit-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    background: -o-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    background: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}
.filter-form__button:hover {
    background-color: #f0c52e;
}
.filter-form__button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #f0c52e;
}
.header-sorting__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    padding: 0;
    margin: 0;
    margin-right: auto;

    font-size: 14px;
    line-height: 18px;

    list-style: none;
}
.sort-list__item {
    padding-bottom: 2px;
    margin-right: 30px;
}
.sort-list__item:last-child {
    margin-right: auto;
}
.sort-list__link {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}
.sort-list__link:hover {
    color: rgba(0, 0, 0, 0.6);
}
.sort-list__link:active {
    color: rgba(0, 0, 0, 1);
}
.sort-list__link--active {
    color: rgba(0, 0, 0, 1);
}
.sort-list-up-down {
    margin: 0;
    margin-left: auto;
}
.sort-list-up-down__link--up,
.sort-list-up-down__link--down {
    display: block;

    width: 11px;
    height: 11px;
    margin-left: 18px;

    font-size: 0px;

    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;
}
.sort-list-up-down__link--up {
    background-image: url("../img/icon-up-catalog.svg");
}
.sort-list-up-down__link--down {
    background-image: url("../img/icon-down-catalog.svg");
}
.sort-list-up-down__link--up:hover,
.sort-list-up-down__link--down:hover {
    opacity: 0.4;
}
.sort-list-up-down__link--up:active,
.sort-list-up-down__link--down:active {
    opacity: 1;
}
.sort-list-up-down__link--active {
    opacity: 1;
}
.item-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.shop-item {
    position: relative;

    width: 360px;
    margin: 0 0 46px 40px;
}
.shop-item__new {
    position: absolute;
    top: 21px;
    right: 20px;

    width: 60px;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.2);

}
.shop-item__item-image {
    min-height: 380px;
    margin-bottom: 24px;
}
.shop-item__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: end;
        align-content: flex-end;
}
.shop-item__name {
    max-width: 260px;

    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: normal;
    color: black;
}
.shop-item__price {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.shop-item__link {
    display: block;

    height: 40px;
    width: 220px;
    margin-bottom: 20px;

    font-family: "gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 3.6px;
    color: black;

    background: -webkit-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    background: -o-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
    background: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}

.item-add {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 360px;
    height: 380px;
    padding: 0 80px;
    padding-top: 170px;

    background-color: rgba(238, 238, 238, 0.7);
}
.shop-item:hover .item-add {
    display: block;
}
.shop-item__link:hover {
    background-color: #f0c52e;
}
.shop-item__link:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #f0c52e;
}

.shop-item__link--compare {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: normal;
    text-transform: none;
    color: rgba(0, 0, 0, 0.5);

    background: none;
}
.shop-item__link--compare:hover {
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    letter-spacing: normal;

    background: none;
}
.shop-item__link--compare:active {
    color: rgba(0, 0, 0, 0.2);
    text-transform: none;
    letter-spacing: normal;

    background: none;
}
.paginator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: baseline;
        align-content: baseline;

    width: 760px;
    margin-left: 40px;
    margin-top: -11px;
    margin-bottom: 77px;

    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3.2px;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    background-color: rgba(0, 0, 0, 0.08);
}
.page-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 160px;
}
.paginator__link {
    height: 70px;
    padding: 0 30px;
    margin: 0;

    color: black;
}
.paginator__link--back {
    margin-right: 10px;
}
.paginator__link:hover {
    background-color: #d9d9d9;
}
.paginator__link:active {
    color: #979797;
    background-color: #d9d9d9;
}
.paginator__link--page {
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.3);
    background: none;
}
.paginator__link--page:hover {
    color: rgba(0, 0, 0, 0.6);
    background: none;
}
.paginator__link--page:active {
    color: rgba(0, 0, 0, 1);
    background: none;
}
.paginator__link--active {
    color: rgba(0, 0, 0, 1);
    background: none;
} 